#hero_area {
  padding-top: 50px;
  background-color: $bgColor;
  img {
    display: block;
  }
  .admin_info {
    flex-basis: 45%;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      font-size: 65px;
      text-transform: uppercase;
      line-height: 1em;
    }
    h5 {
      font : {
        size: 20px;
        weight: $fontWMD;
      }
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }
  .admin_image {
    flex-basis: 55%;
    order: 2;
    img {
      margin: 0 auto;
    }
  }
}
